mixin experience(options)
    .row.experience-item
        .col-md-2.offset-md-3.col-3.offset-0.mb-5
            .experience-item-image
                a(href=options.href, target='_blank')
                    img.img-fluid(src=options.image, alt='')
        .col-md-5.col-8.offset-0.mb-5
            .experience-item-caption
                h4.experience-item-caption-company !{options.company} !{options.emoji}
                h5.experience-item-caption-title !{options.title} | !{options.dates}
                p.experience-item-caption-description !{options.description}
